<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Pc</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Lista prodotti</h1>
        <div th:each="computer : ${lista}" class="ocomputer">
        	<h3>Id: <span th:text="${computer.id}"></span></h3>
            <p>Marca: <span th:text="${computer.marca}"></span></p>
            <p>Tipologia: <span th:text="${computer.tipologia}"></span></p>
            <p>Modello: <span th:text="${computer.modello}"></span></p>
            <p>Descrizione: <span th:text="${computer.descrizione}"></span></p>
            <p>Quantità: <span th:text="${computer.qnt}"></span></p>
            <img th:src="${computer.url}" alt="Immagine computer">
            <p>Prezzo: <span th:text="${computer.prezzo}"></span></p>
           
        </div>
        <div class="text-center">
            <button class="btn" onclick="location.href='/'">Torna alla home</button>
            
        </div>
    </div>
</body>
</html>